@model IEnumerable<Common.DataBase.Entities.Solution>
@{
    ViewData["Title"] = "My Challenges";
}

@section Styles {
    <style>

        body {
            background: linear-gradient(209.64deg, rgba(60, 72, 211, 0.75) 4.22%, rgba(76, 143, 239, 0.75) 63.76%, rgba(127, 240, 255, 0.75) 86.94%);
            grid-template-areas: "header header" "nav nav" "code code" "footer footer";
            grid-template-columns: 200px 1fr;
        }

        * {
            box-sizing: border-box;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>
}


<table class="search-table" id="indextable" border="1" cellpadding="10" cellspacing="0" style="border-collapse:collapse; position: absolute; top: 200px">
    <thead>
        <tr class="search-table">
            <th class="search-table"><a class="search-table" href="javascript:SortTable(0,'T');">ChallengeId</a></th>
            <th class="search-table"><a class="search-table" href="javascript:SortTable(1,'T');">CreationDate</a></th>
            <th class="search-table"><a class="search-table" href="javascript:SortTable(2,'N');">ProgramingLanguage</a></th>
            <th class="search-table"><a class="search-table" href="javascript:SortTable(3,'D','mdy');">Score</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var solution in Model)
        {
        <tr class="search-table">
            <td><p><a class="search-table" href="Solve/@solution.ChallengeId">@solution.ChallengeId</a></p></td>
            <td>@solution.CreationDate</td>
            <td>@solution.ProgramingLanguage</td>
            <td>@solution.SuccessfulTestCount / @solution.TestCaseCount</td>
        </tr>
        }
    </tbody>
</table>



